<nav style="background-color: #add8e6; padding: 0 20px;"> <!-- Light Blue Background with Left and Right Padding -->
    <div class="nav-wrapper" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
        <a href="#" class="brand-logo" style="color: white;">WebShare</a> <!-- White Logo Text -->
        <div style="margin-left: auto;"> <!-- This div pushes the ul to the right -->
            <ul id="nav-mobile" class="right hide-on-med-and-down" style="display: flex; align-items: center;">
                <li style="margin-left: 20px;"><a href="/home" style="color: white;">Home</a></li>
                <li style="margin-left: 20px;"><a href="/AboutMe" style="color: white;">About</a></li>
                <li style="margin-left: 20px;"><a href="/contact" style="color: white;">Contact</a></li>
                <li style="margin-left: 20px;"><a href="/Job" style="color: white;">Job</a></li>
                <li style="margin-left: 20px;"><a href="/video" style="color: white;">Video</a></li>
            </ul>
        </div>
        <a href="#" data-target="mobile-menu" class="sidenav-trigger" style="color: white;"><i class="material-icons">menu</i></a>
    </div>
</nav>

<!-- Mobile Menu -->
<ul class="sidenav" id="mobile-menu">
    <li><a href="/home" style="color: black;">Home</a></li>
    <li><a href="/AboutMe" style="color: black;">About</a></li>
    <li><a href="/contact" style="color: black;">Contact</a></li>
    <li><a href="/Job" style="color: black;">Job</a></li>
    <li><a href="/video" style="color: black;">Video</a></li>

</ul>